@import "../../../variables/colors";
@import "../../../variables/common";
@import "../../../variables/displays";
@import "../../../variables/mixins/common";

h4 {
  font-size: 16px;
}

.nav-top {
  width: 100%;
  background: $color-base;
  list-style-type: none;
  margin: 0;
  padding: 0;
  &-desktop {
    height: 60px;
    &-main {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }
    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-right {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-logo {
      margin-right: 10px;
      &:hover {
        cursor: pointer;
      }
      img {
        height: 40px;
      }
      a {
        @include font-bold();
        font-size: 25px;
        line-height: 20px;
        color: $color-base-dark;
        text-shadow: 3px 3px 3px rgba(12,49,64,0.60);
        @media (max-width: $laptopsMax) {
          font-size: 24px;
        }
      }
    }
    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;
      padding: 0 10px;
      height: 100%;
      &:hover {
        cursor: pointer;
        &:not(.active) {
          a {
            //color: $color-base-dark;
          }
        }
        .nav-top-desktop-sub-item {
          visibility: visible;
          opacity: 1;
        }
        //.nav-top-desktop-item-center span:after {
        //  background: url('assets/img/nav/arrow-down-active.svg');
        //}
      }
      &.active {
        &:before {
          content: '';
          background: #fff;
          display: inline-block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0.3;
        }
        &:hover {
          &:before {
            opacity: 0.4;
          }
        }
        .nav-link-item-down {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 4px;
          width: 100%;
          background: #fff;
          @include transitionLinear();
        }
        .nav-top-desktop-sub-item:after {
          visibility: hidden;
        }
        .nav-top-desktop-item-center span:after {
          background: url('assets/img/nav/arrow-down-not-active.svg');
        }
      }
      a {
        margin: auto 0;
        @include font-bold();
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        display: block;
        @media (max-width: $laptopsMax) {
          font-size: 14px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        img {
          width: 18px;
          margin-top: 2px;
        }
        span {
          width: 18px;
          &:after {
            content: '';
            background: url('assets/img/nav/arrow-down-not-active.svg');
            width: 18px;
            height: 18px;
            opacity: 1;
            visibility: visible;
            position: relative;
            display: block;
          }
        }
      }
    }
    &-sub-item {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 60px;
      left: 0;
      min-width: 130px;
      max-width: 200px;
      padding: 5px;
      z-index: 100;
      background: $color-base-light;
      border-radius: 0;
      @include modal-shadow();
      @include transitionLinear();
      visibility: hidden;
      opacity: 0;
      &:after {
        z-index: 110;
        content: '';
        position: absolute;
        left: 30px;
        top: -18px;
        border: 9px solid transparent;
        border-bottom: 9px solid $color-base-light;
      }
      .item-list {
        display: flex;
        align-items: center;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        img {
          margin-right: 5px;
          width: 20px;
        }
        &:hover, &.active {
          background: $color-bg-dark;
        }
        &:last-child {
          //margin-bottom: 10px;
        }
      }
    }
    &-sub-item-list-right {
      right: 0;
      left: auto;
      &:after {
        right: 30px;
        left: auto;
      }
    }
    .nav-info-link {
      display: flex;
      justify-content: space-between;
      &-item {
        display: flex;
        flex-direction: column;
        border-radius: $radius;
        width: 170px;
        padding: 5px;
        margin-bottom: 10px;
        background: $color-base-light;
        &:hover {
          background: $color-base;
          color: #fff;
        }
      }
    }
    @media (max-width: $tabletAverage) {
      display: none;
    }
  }
  &-mobile {
    height: 40px;
    display: flex;
    align-content: center;
    img {
      margin: 0 15px 0 12px;
      &:hover {
        cursor: pointer;
      }
    }
    .mobile-title {
      @include font-base();
      font-size: 16px;
      color: #fff;
      padding-top: 9px;
      &-logo {
        //height: 100%;
        img {
          height: 30px;
          margin: 0;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }

    @media (min-width: $tabletAverage + 1) {
      display: none;
    }
  }
}
