<div class="nav-top nav-top-desktop">
  <div class="container">
    <div class="nav-top-desktop-main">
      <div class="nav-top-desktop-left">
        <div class="nav-top-desktop-logo"
             (click)="navService.onPageRoute(pages.home)">
          <!--<a>{{title}}</a>-->
          <img src="assets/img/logo-white.png"
               alt="">
        </div>
<!--        <ng-template ngFor let-list [ngForOf]="leftNavList">-->
        <ng-container *ngFor="let list of leftNavList">
          <div *ngIf="navService.checkListType(list.type, listType.link)"
               class="nav-top-desktop-item"
               [class.active]="isPageActive(list.active)"
               (click)="navService.onPageRoute(list.click)">
            <div class="nav-top-desktop-item-center">
              <a>{{ list.name | translate }}</a>
            </div>
            <div class="nav-link-item-down"></div>
          </div>
          <div *ngIf="navService.checkListType(list.type, listType.arrow)"
               class="nav-top-desktop-item"
               [class.active]="isPageActive(list.active)"
               (mouseenter)="mouseEnter(list.active)"
               (mouseleave)="mouseLeave(list.active)">
            <div class="nav-top-desktop-item-center">
              <a>{{ list.name | translate }}</a>
              <span></span>
            </div>
            <div class="nav-link-item-down"></div>
            <div class="nav-top-desktop-sub-item"
                 [class.close-list]="!closeList[list.click]">
              <div *ngFor="let child of list.children; let i = index"
                   class="item-list"
                   [class.active]="isChildActive(child.click)"
                   (click)="onPageRouteByArrow(child.click, child.active)">
                <img [src]="'assets/img/nav/arrow-list/' + child.img"
                     alt="">
                <span>{{ child.name | translate }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="nav-top-desktop-right">
        <ng-template ngFor let-item [ngForOf]="rightNavList">
          <div *ngIf="navService.checkListType(item.type, listType.link)"
               class="nav-top-desktop-item"
               [class.active]="isPageActive(item.active)"
               (click)="navService.onPageRoute(item.click)">
            <div class="nav-top-desktop-item-center">
              <a>{{ item.name | translate }}</a>
            </div>
            <div class="nav-link-item-down"></div>
          </div>
        </ng-template>
        <div class="nav-top-desktop-item"
             (mouseenter)="mouseEnter('lang')"
             (mouseleave)="mouseLeave('lang')">
          <div class="nav-top-desktop-item-center">
            <a>{{ langName }}</a>
            <span></span>
          </div>
          <div class="nav-top-desktop-sub-item nav-top-desktop-sub-item-list-right"
               [class.close-list]="!closeList.lang">
            <div class="item-list"
                 *ngFor="let _lang of langs; let i = index"
                 (click)="chooseLang(_lang.code)">
              <img [src]="'assets/img/common/' + _lang.img"
                   alt="">{{ _lang.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-mobile-menu [mobileIsOpen]="mobileIsOpen"
                 (parentMobileIsOpen)="controlMobileMenu($event)">
</app-mobile-menu>

<div class="nav-top nav-top-mobile">
  <div class="mobile-menu-icon"
       (click)="controlMobileMenu(true)">
    <div class="mobile-menu-icon-item"></div>
    <div class="mobile-menu-icon-item"></div>
    <div class="mobile-menu-icon-item"></div>
  </div>
  <div class="mobile-title-logo vertical-center">
    <img src="assets/img/logo-white.png"
         (click)="navService.onPageRoute(pages.home)"
         alt="">
  </div>
  <!--<span class="mobile-title-logo"-->
        <!--(click)="navService.onPageRoute(pages.home)">{{title}}</span>-->
</div>
