@import "../../../variables/colors";
@import "../../../../app/variables/mixins/common";

.nav-top {
  &-desktop {
    &-item {
      margin-right: 10px;
      &-center {
        a {
          text-transform: none;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          @include font-base();
        }
      }
    }
    &-sub-item {
      background: $color-bg !important;
      top: 40px;
      &-list-right {
        right: 15px;
        left: auto;
      }
    }
  }
  &-mobile {
    display: flex !important;
    justify-content: space-between;
    .top-settings {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .item-list {
    img {
      margin: 0 5px 0 0 !important;
    }
    p {
      margin-bottom: 2px !important;
    }
  }
  .tn-user-item {
    @include modalMaxHeightWithScroll();
  }
}
.ls-triangle {
  border-color: transparent transparent transparent #fff;
  margin-top: 3px;
  &-open {
    margin-left: 7px;
  }
}
