<app-left-menu [mobileIsOpen]="mobileIsOpen"
                 (parentMobileIsOpen)="controlLeftMenu($event)">
</app-left-menu>

<div class="nav-top nav-top-mobile">
  <div class="mobile-menu-icon"
       (click)="controlLeftMenu(true)">
    <div class="mobile-menu-icon-item"></div>
    <div class="mobile-menu-icon-item"></div>
    <div class="mobile-menu-icon-item"></div>
  </div>
  <div class="nav-top-desktop-item"
       (mouseenter)="mouseEnter('users')"
       (mouseleave)="mouseLeave('users')">
    <div class="nav-top-desktop-item-center">
      <a class="no-wrap-text"
      >{{ (activeInternalUser && activeInternalUser.name) ? activeInternalUser.name : '' }}</a>
      <div class="ls-triangle ls-triangle-open"></div>
    </div>
    <div class="nav-top-desktop-sub-item nav-top-desktop-sub-item-list-right"
         [class.close-list]="!closeList.users"
         (contextmenu)="onRightClick($event)">
      <div class="tn-user-item">
        <div class="item-list"
             *ngFor="let _user of internalUsers"
             (click)="selectInternalUser(_user)">
          <img src="{{ 'assets/img/internal-users-icons/' + _user.icon }}" alt="">
          <p class="no-wrap-text">{{ _user.name }}</p>
        </div>
      </div>
      <div class="item-list"
           (click)="addInternalUser()">
        <img style="" src="assets/img/internal-users-icons/add-user.svg" alt="">
        <p>{{ 'user.chooseModal.add' | translate }}</p>
      </div>
    </div>
  </div>
<!--  <div class="top-settings">-->
<!--    <img src="assets/img/nav/top-settings.svg"-->
<!--         alt="">-->
<!--  </div>-->
</div>
