<div class="section-info">
  <div class="si-control-area si-section-right-border">
    <img class="si-control-area-icon"
         src="assets/img/user/section-info/plus.svg" alt=""
         (click)="addSection()" />
<!--    <img class="si-control-area-icon"-->
<!--         src="assets/img/user/section-info/list.svg" alt="" />-->
  </div>
  <div class="si-sections">
    <ng-container *ngIf="GlobalService.isNotEmptyArray(sectionInfos)">
      <ng-container *ngFor="let _section of sectionInfos">
        <app-one-section [section]="_section"
                         [sectionInfos]="sectionInfos"
                         [activeSection]="activeSection"></app-one-section>
      </ng-container>
    </ng-container>
  </div>
</div>
