@import "../../../../variables/colors";
@import "../../../../variables/mixins/common";

.section-info {
  position: relative;
  box-sizing: border-box;
  height: 35px;
  border-top: 1px solid $color-bg-dark;
  display: flex;
  .si-control-area {
    display: flex;
    background: $color-control-bg;
    &-icon {
      width: 24px;
      padding: 0 5px;
    }
    &:hover {
      background: $color-base-light-hover;
      cursor: pointer;
    }
  }
}
.si-sections {
  display: flex;
  justify-content: flex-start;
  &-main {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &-item {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 100px;
    background: $color-base-light;
    &-text {
      @include font-bold;
      font-size: 14px;
      margin-right: 25px;
      padding: 0 5px;
    }
    &.active {
      background: #ffffff;
      .si-sections-item-text {
        color: $color-base-middle;
      }
      .ls-triangle {
        border-color: transparent transparent transparent $color-base-middle;
      }
    }
    &:hover {
      cursor: pointer;
    }
    &:not(.active):hover {
      background: $color-base-light-hover;
    }
  }
}
.si-section-right-border {
  border-right: 1px solid $color-bg-dark;
}
.ls-triangle {
  position: absolute;
  right: 5px;
  border-width: 6px 0 6px 6px;
}
.si-control-list {
  top: -82px !important;
  left: -1px !important;
  width: 140px !important;
}
