@import "../../../../variables/colors";
@import "../../../../variables/common";
@import "../../../../variables/mixins/common";
@import "../../../../variables/displays";

.modal-info-bottom-right {
  position: absolute;
  z-index: 98;
  bottom: 10px;
  right: 10px;
  background: $color-bg;
  padding: 10px 20px;
  margin: 0;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  &-text {
    @include font-base();
    font-size: 15px;
    text-align: left;
    &-info {
      @include font-bold();
      font-size: 17px;
      color: $color-info;
    }
    &-struct-name {
      @include font-bold();
      color: $color-success-base;
    }
  }
  &-button-link {
    text-transform: uppercase;
  }
}

.close-custom {
  width: 20px;
  height: 20px;
}
.close-custom:before, .close-custom:after {
  position: absolute;
  left: 9px;
  top: 5px;
}
