<div *ngIf="alert.state"
     class="form-300 modal-info-bottom-right">
  <ng-container *ngIf="alert.type === Type.info">
    <div class="modal-header">
      <p class="modal-header-text modal-header-text-info">{{alert.title | translate}}</p>
      <div (click)="closeModal()" class="close close-custom"></div>
    </div>
    <div class="modal-header">
      <p class="modal-header-text">{{alert.message | translate}}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="alert.type === Type.recoverStruct">
    <div class="modal-header">
      <p class="modal-header-text"><span class="modal-header-text-struct-name">{{alert.elementName}}</span> {{alert.message | translate}}</p>
      <div (click)="closeModal()" class="close close-custom"></div>
    </div>
    <a class="sd-link modal-header-button-link"
       (click)="returnStructBack()">{{ 'common.recover' | translate }}</a>
  </ng-container>
</div>
