@import "../../../variables/colors";
@import "../../../variables/displays";
@import "../../../variables/mixins/common";

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  //-webkit-transform: translateY(100%);
  //transform: translateY(100%);
  &-top {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background: $color-base-light;
    border-top: 1px solid $color-bg-dark;
    &-info {
      display: flex;
      flex-direction: column;
      color: $color-base;
      padding: 10px 0;
      width: 200px;
      margin-right: 20px;
      &-header {
        //border-bottom: 1px solid $color-base;
        width: 100%;
        h4 {
          @include font-bold();
          text-transform: uppercase;
        }
      }
      &-item {
        padding-top: 2px;
        font-size: 15px;
        p {
          font-size: 15px;
        }
        a {
          &:hover {
            cursor: pointer;
            color: $color-base-dark;
          }
        }
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    background: $color-font-base;
    padding-top: 10px;
    padding-bottom: 10px;
    &-info {
      display: flex;
      flex-direction: column;
      p {
        color: #fff;
        :last-child {
          padding-top: 5px;
        }
      }
      &-logo {

        @include font-bold();
      }
      &-item {

       fa {
         margin-right: 3px;
       }
      }
    }
    &-social {
      display: flex;
      align-content: center;
      fa {
        font-size: 36px;
        color: #fff;
        margin: auto 15px auto 0;
      }
      @media (max-width: $tabletMax) {
        margin-top: 10px;
      }
    }
    @media (max-width: $tabletMax) {
      flex-direction: column;
    }
  }
}

/* social */
@mixin transformScale($size: 1) {
  transform: scale($size);
  -ms-transform: scale($size);
  -webkit-transform: scale($size);
}
.social-icons {
  padding: 0;
  list-style: none;
  margin: auto 0;
  li {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    &:not(:first-child) {
      margin-left: 15px;
    }
  }
  fa {
    position: absolute;
    color: $color-font-base;
    font-size: 19px;
    top: 5px;
    left: 6px;
    transition: all $timing ease-out;
  }
  .facebook {
    fa {
      top: 7px;
      left: 12px;
      font-size: 17px;
    }
  }
  .vk {
    fa {
      top: 4px;
    }
  }
  .twitter {
    fa {
      left: 8px;
    }
  }
  .instagram {
    fa {
      top: 4px;
      left: 9px;
    }
  }
  a {
    display: inline-block;
    &:before {
      @include transformScale();
      content: " ";
      width: 35px;
      height: 35px;
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, $socialBg, $socialBg);
      transition: all $timing ease-out;
    }
    &:hover:before {
      transform: scale(0);
      transition: all $timing ease-in;
    }
    &:hover fa {
      @include transformScale(2);
      color: #fff;
      -webkit-background-clip: text;
      transition: all $timing ease-in;
      cursor: pointer;
    }
  }
}
