<footer class="footer" #footer>
  <div class="footer-top container">
    <div class="footer-top-info"
         *ngFor="let _info of topInfo">
      <div class="footer-top-info-header">
        <h4>{{ _info.header | translate }}</h4>
      </div>
      <div class="footer-top-info-item"
           *ngFor="let _item of _info.items">
        <p *ngIf="!_item.isLink">{{ _item.name | translate }}</p>
        <a *ngIf="_item.isLink" (click)="navService.onPageRoute(_item.url)">{{ _item.name | translate }}</a>
      </div>
    </div>
    <div class="footer-top-info">
      <div class="footer-top-info-header">
        <h4 style="text-transform: none;">Language</h4>
      </div>
      <app-custom-mat-select [selectedItem]="lang$ | async"
                             [selectedObjectsArray]="langs"
                             selectedObjectName="title"
                             bindValue="code"
                             bindLabel="title"
                             (selectedItemChange)="chooseLang($event)"
      ></app-custom-mat-select>
    </div>
  </div>
  <div class="footer-bottom container">
    <div class="footer-bottom-info">
      <p class="footer-bottom-info-logo">{{ logo }}</p>
      <p class="footer-bottom-info-item">
        <fa name="copyright"></fa>2018-{{ year }} {{ logo }}.
<!--        <fa name="copyright"></fa>2018-{{ year }} {{ logo }}. Все права защищены.-->
      </p>
    </div>
    <div class="footer-bottom-social">
      <ul class="social-icons">
        <li><a href="" target="_blank" class="vk"><fa name="vk"></fa></a></li>
        <li><a href="" target="_blank" class="facebook"><fa name="facebook-f"></fa></a></li>
        <li><a href="" target="_blank" class="twitter"><fa name="twitter"></fa></a></li>
        <li><a href="" target="_blank" class="instagram"><fa name="instagram"></fa></a></li>
      </ul>
    </div>
  </div>
</footer>
