@import "../../../../variables/colors";
@import "../../../../variables/mixins/common";

.left-toolbar {
  height: calc(100vh - 40px);
  width: 25px;
  overflow: auto;
  @include scrollbarForBars();
  background: $color-bg-dark;
  border-right: 1px solid $color-base-light;
  &-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 0 5px;
    border-bottom: 1px solid $color-base-light;
    img {
      width: 18px;
      margin-top: 5px;
    }
    span {
      writing-mode: tb-rl;
      transform: rotate(180deg);
      font-size: 15px;
      @include font-bold();
      margin-right: 4px;
    }
    span.for-ie {
      margin-right: 0;
      margin-left: 6px;
    }
    &:hover, &.active {
      cursor: pointer;
      background: $color-base-light;
      color: $color-base;
    }
    &.active {
      background: $color-bg;
    }
  }
}
