<div class="left-toolbar">
  <div class="left-toolbar-button"
       [class.active]="activeButtons[EPressedButton.documents]"
       (click)="clickButton(EPressedButton.documents)">
    <span [class.for-ie]="isIEOrEdge">{{ 'user.leftToolbar.documents' | translate }}</span>
    <img src="assets/img/user/toolbar/document.svg" alt="">
  </div>
  <div class="left-toolbar-button"
       [class.active]="activeButtons[EPressedButton.tags]"
       (click)="clickButton(EPressedButton.tags)">
    <span [class.for-ie]="isIEOrEdge">{{ 'user.leftToolbar.tags' | translate }}</span>
    <img src="assets/img/user/toolbar/tag.svg" alt="">
  </div>
  <div class="left-toolbar-button"
       [class.active]="activeButtons[EPressedButton.favourites]"
       (click)="clickButton(EPressedButton.favourites)">
    <span [class.for-ie]="isIEOrEdge">{{ 'user.leftToolbar.favourites' | translate }}</span>
    <img src="assets/img/user/toolbar/favourites.svg" alt="">
  </div>
  <div class="left-toolbar-button"
       [class.active]="activeButtons[EPressedButton.search]"
       (click)="clickButton(EPressedButton.search)">
    <span [class.for-ie]="isIEOrEdge">{{ 'user.leftToolbar.search' | translate }}</span>
    <img src="assets/img/user/toolbar/search.svg" alt="">
  </div>
  <div class="left-toolbar-button"
       [class.active]="activeButtons[EPressedButton.basket]"
       (click)="clickButton(EPressedButton.basket)">
    <span [class.for-ie]="isIEOrEdge">{{ 'user.leftToolbar.basket' | translate }}</span>
    <img src="assets/img/user/toolbar/basket.svg" alt="">
  </div>
</div>
