<mat-form-field class="modal-form__field">
  <mat-select [(ngModel)]="selectedItem"
              (selectionChange)="selectedItemChangeMethod($event)">
    <mat-option>
      <ngx-mat-select-search [formControl]="selectedSearchCtrl"
                             noEntriesFoundLabel="{{ 'search.nothingFound' | translate }}">
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let _object of filteredSelected | async"
                [value]="_object[bindValue]">
      {{ _object[bindLabel] }}
    </mat-option>
  </mat-select>
</mat-form-field>
