@import "../../../variables/colors";
@import "../../../variables/mixins/common";

mat-form-field, .mat-form-field {
  .mat-form-field-infix {
    width: 200px;
    border: none;
  }
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  //background-color: $color-base !important;
}
mat-select, .mat-select {
  .mat-select-value {
    color: $color-base;
    @include font-base();
  }
  .mat-select-value-text {
    font-size: 15px;
  }
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $color-base;
}
.mat-select-search-panel {
  &.mat-select-panel {
    max-width: 200px !important;
    background: $color-base-light;
    @include scrollbarForMatSelectPanel;
    mat-option, .map-option {
      span {
        color: $color-font-base;
      }
      &.mat-active, &:hover {
        background: $color-bg-dark !important;
      }
    }
  }
}
/* Hide arrow of mat-select */
.mat-select-arrow {
  opacity: 0;
}
/* Change arrow of mat-select */
.mat-select-arrow-wrapper:before {
  position: absolute;
  content: '';
  border: 6px solid transparent;
  border-top: 6px solid $color-base;
  right: 3px;
  top: 9px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 1;
}
/* Hide input placeholder for ngx-mat-select-search */
ngx-mat-select-search {
  input::placeholder {
    opacity: 0;
  }
  .mat-select-search-clear {
    top: 11px !important;
    right: 7px !important;
    .mat-icon {
      opacity: 0;
    }
    &:before {
      background-image: url('assets/img/common/btn-close.svg');
      background-size: 15px 15px;
      display: inline-block;
      width: 15px;
      height: 15px;
      content: "";
      position: absolute;
      left: 5px;
      top: 5px;
    }
  }
  .mat-select-search-input {
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    outline: none;
    @include font-base();
  }
  .mat-icon-button {
    width: 25px;
    height: 25px;
    &:hover {
      background: $color-bg;
    }
  }
  mat-icon, .mat-icon {
    display: none !important;
  }
}
