<div class="docs-toolbar">
  <div class="docs-toolbar-button docs-toolbar-button-one">
    <span class="dt-center dt-text dt-text-font">Open Sans</span>
    <div class="ls-triangle ls-triangle-open"></div>
  </div>
  <div class="docs-toolbar-button docs-toolbar-button-one">
    <span class="dt-center dt-text">14</span>
    <div class="ls-triangle ls-triangle-open"></div>
  </div>
  <div class="docs-toolbar-button">
    <span class="dt-center dt-font-drawing dt-bold">B</span>
    <fa class="dt-center dt-font-drawing dt-italic active" name="italic"></fa>
    <span class="dt-center dt-font-drawing dt-underline">U</span>
    <span class="dt-center dt-font-drawing dt-line-through">T</span>
  </div>
  <div class="docs-toolbar-button">
    <div class="dt-text-color">
      <span class="dt-text-color-char">A</span>
      <div class="text-rectangle"></div>
    </div>
    <div class="dt-text-color">
      <span class="dt-text-color-background">A</span>
      <div class="text-rectangle white"></div>
    </div>
    <div class="dt-text-color">
      <img class="dt-text-color-paint-roller active"
           src="assets/img/user/toolbar/format-paint.svg"
           alt="">
    </div>
  </div>
  <div class="docs-toolbar-button">
    <img class="dt-align" src="assets/img/user/toolbar/align-left.svg">
    <img class="dt-align active" src="assets/img/user/toolbar/align-justify.svg">
    <img class="dt-align" src="assets/img/user/toolbar/align-center.svg">
    <img class="dt-align" src="assets/img/user/toolbar/align-right.svg">
  </div>
  <div class="docs-toolbar-button">
    <img class="dt-align" src="assets/img/user/toolbar/list-bulleted.svg">
    <img class="dt-align active" src="assets/img/user/toolbar/list-numbered.svg">
  </div>
  <div class="docs-toolbar-button">
    <img class="dt-align" src="assets/img/user/toolbar/table.svg">
    <img class="dt-align" src="assets/img/user/toolbar/code.svg">
    <img class="dt-align" src="assets/img/user/toolbar/separator.svg">
  </div>
  <div class="docs-toolbar-button">
    <img class="dt-align" src="assets/img/user/toolbar/link.svg">
    <img class="dt-align" src="assets/img/user/toolbar/image.svg">
    <img class="dt-align" src="assets/img/user/toolbar/smile.svg">
  </div>
  <div class="docs-toolbar-button">
    <img class="dt-align" src="assets/img/user/toolbar/tag.svg">
    <img class="dt-align" src="assets/img/user/toolbar/share-block-create.svg">
    <img class="dt-align" src="assets/img/user/toolbar/share-block-use.svg">
  </div>
  <div class="docs-toolbar-button docs-toolbar-button-more">
    <img src="assets/img/user/toolbar/more.svg">
  </div>
</div>
