@import "../../../../variables/colors";
@import "../../../../variables/mixins/common";

.docs-toolbar {
  display: flex;
  height: 35px;
  width: 100vw;
  background: $color-bg;
  border-top: 1px solid $color-bg-dark;
  border-bottom: 1px solid $color-bg-dark;
  .dt-center {
    margin-bottom: 1px;
  }
  &-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid $color-bg-dark;
    padding: 0 5px;
    &-one {
      &:hover {
        cursor: pointer;
        background: $color-bg-dark;
      }
    }
    &-more {
      border-right: none;
      &:hover {
        cursor: pointer;
        background: $color-bg-dark;
      }
    }
  }
  .dt-text {
    font-size: 13px;
    &-font {
      min-width: 100px;
      max-width: 120px;
      white-space: nowrap;
      overflow: hidden;
    }
    &-color {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 7px;
      &:hover {
        cursor: pointer;
      }
      &-char {
        font-size: 16px;
        margin-right: 2px;
        margin-bottom: -3px;
      }
      &-background {
        font-size: 14px;
        padding: 2px 5px;
        color: #fff;
        background: $color-bg-dark;
        margin-bottom: -3px;
      }
      &-paint-roller {
        width: 24px;
        &.active {
          background: $color-bg-dark;
        }
      }
      .text-rectangle.white {
        background: #fff;
      }
    }
  }
  .dt-font-drawing {
    font-size: 18px;
    margin-right: 7px;
    &:hover, &.active {
      cursor: pointer;
      color: $color-base-middle;
    }
    &.dt-bold {
      @include font-bold();
    }
    &.dt-italic {
      font-size: 16px !important;
    }
    &.dt-underline {
      text-decoration: underline;
    }
    &.dt-line-through {
      text-decoration: line-through;
    }
  }
  .dt-align {
    margin-right: 5px;
    &:hover, &.active {
      cursor: pointer;
      background: $color-bg-dark;
    }
  }
  .text-rectangle {
    width: 19px;
    height: 5px;
    background: #000;
  }
  .ls-triangle {
    margin-left: 7px;
  }
}
