<div>
  <div class="form-300">
    <div class="sd-form-header">
      <h4 class="h4-center">{{ 'page.login' | translate }}</h4>
      <p class="p-center">{{ 'auth.enterToSystem' | translate }}</p>
    </div>
    <form [formGroup]="loginForm"
          (ngSubmit)="loginSubmit()"
          class="sd-form-group">
      <mat-form-field class="form-field">
        <mat-label>{{ 'field.email' | translate }}</mat-label>
        <input type="text"
               formControlName="email"
               matInput
               value="">
        <mat-error>{{ globals.getFormControlErrorMessage(loginForm, 'email') | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>{{ 'field.password' | translate }}</mat-label>
        <input type="password"
               formControlName="password"
               matInput
               value="">
        <mat-error>{{ globals.getFormControlErrorMessage(loginForm, 'password') | translate }}</mat-error>
      </mat-form-field>
      <div class="form-field form-field-checkbox form-field-checkbox-link"
           style="font-size: 16px;">
        <mat-checkbox formControlName="alienComp"
        >{{ 'auth.alienComputer' | translate }}
        </mat-checkbox>
        <div class="checkbox-link">
          <a class="sd-link"
             (click)="navService.onPageRoute(pages.forgotPassword)">{{ 'auth.forgotPassword' | translate }}</a>
        </div>
      </div>
      <div class="form-field form-field-button">
        <button mat-stroked-button
                class="sd-button sd-button-submit">{{ 'auth.button.login' | translate }}</button>
      </div>
    </form>
    <div class="sd-form-group sd-form-after">
      <span>{{ 'auth.haveNotAccount' | translate }}</span>
      <a class="sd-link"
         (click)="navService.onPageRoute(pages.registration)">{{ 'auth.registration' | translate }}</a>
    </div>
  </div>
</div>
