@import "../../../variables/colors";
@import "../../../variables/common";
@import "../../../variables/displays";
@import "../../../variables/mixins/common";

h4 {
  font-size: 16px;
}

.mobile-left-sidenav {
  position: fixed;
  overflow-y: auto;
  height: 100vh;
  width: 275px;
  top: 0;
  left: 0;
  background: $color-base-light;
  z-index: 120;
  border-left: 1px solid $color-bg-dark;
  border-right: 1px solid $color-bg-dark;
  @include openCloseLeftBarAnimation();
  &-top {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-base;
    padding: 0 10px;
    a {
      color: #fff;
      font-size: 16px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    img {
      width: 22px;
      height: 22px;
      padding: 10px 0;
      opacity: .8;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    position: relative;
    &-item {
      display: flex;
      justify-content: space-between;
      color: $color-base;
      background: $color-bg;
      padding: 5px 10px 5px 15px;
      p {
        font-size: 16px;
      }
      img {
        width: 18px;
        height: 18px;
        padding-top: 2px;
      }
      &:hover {
        cursor: pointer;
        background: $color-bg-dark;
      }
      &-arrow {
        &-hide {
          background: $color-base-light;
          padding: 5px 10px 5px 30px;
          &:hover, &.open-active {
            background: $color-base;
            color: #fff;
          }
        }
        &-open {
          background: $color-bg-dark;
          img {
            transform: rotate(-90deg);
            @include transitionLinear();
            padding-left: 5px;
          }
        }
      }
      &.active {
        background: $color-bg-dark;
      }
    }
    &.arrow-is-closed {
      height: 0;
      visibility: hidden;
      overflow: hidden;
    }
    &.arrow-is-open {
      animation-name: slideDown;
      -webkit-animation-name: slideDown;
      animation-duration: .2s;
      -webkit-animation-duration: .2s;
      animation-timing-function: ease-out;
      -webkit-animation-timing-function: ease-out;
      transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      -webkit-transform-origin: 50% 0;
    }
  }
  @include scrollbarBase();
}
