@import "../../../../variables/colors";
@import "../../../../variables/mixins/common";

.left-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  max-width: 500px;
  border-left: 1px solid $color-bg-dark;
  border-right: 1px solid $color-bg-dark;
  @include openCloseLeftBar();
  z-index: 5;
  .toolbar-controls {
    display: flex;
    justify-content: space-between;
    background: $color-bg-dark;
    padding: 0 5px;
    height: 30px;
    img {
      border-radius: 20%;
      &:hover {
        cursor: pointer;
        @include modal-shadow();
      }
      &:active {
        background: $color-base-light;
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      .control-button {
        &-folder {
          width: 21px;
          margin-right: 2px;
          padding: 0 2px;
        }
        &-document {
          width: 18px;
          margin-right: 0;
          padding: 1px 2px;
        }
        &-basket {
          width: 20px;
          margin-right: 2px;
        }
        &-deselect {
          width: 20px;
          margin-right: 2px;
          padding: 0 1px;
        }
      }
    }
    &-close {
      display: flex;
      align-items: center;
      img {
        width: 20px;
        border-radius: 50%;
      }
    }
  }
  &-fillers {
    height: 100%;
    overflow: auto;
    @include scrollbarForBars();
    background: $color-base-light;
    .filler-padding {
      padding: 7px 0;
    }
  }
  .resize-handle-right {
    position: absolute;
    height: 100%;
    cursor: col-resize;
    width: 5px;
    right: 0;
  }
}

.mat-progress-bar {
  position: relative !important;
}
.mat-select-search-inner {
  width: 200px !important;
}
.mat-select-panel, .mat-select-search-inner {
  max-width: 200px !important;
}
.sd-link {
  font-size: 14px;
  //text-decoration: underline;
}
