<div mwlResizable
     [enableGhostResize]="true"
     (resizeEnd)="resizeLeftSidebar($event)"
     class="left-sidebar"
     [class.sidenav-is-closed]="!leftSidebarState.isShowSidebar"
     [class.sidenav-is-open]="leftSidebarState.isShowSidebar"
     [style.width.px]="leftSidebarState.isShowSidebar ? sidebarWidth : 0">
  <div class="toolbar-controls">
    <div class="toolbar-controls-buttons">
      <ng-container *ngIf="leftSidebarState.toolbarPressedButton === ELeftToolbarPressedButton.documents">
        <img (click)="addNewStructureInfo(StructureInfoType.folder)"
             class="control-button-folder"
             src="assets/img/user/toolbar/folder.svg"
             alt="">
        <img (click)="addNewStructureInfo(StructureInfoType.file)"
             class="control-button-document"
             src="assets/img/user/toolbar/document.svg"
             alt="">
        <img (click)="removeElement()"
             class="control-button-basket"
             src="assets/img/user/toolbar/basket.svg"
             alt="">
      </ng-container>
      <ng-container *ngIf="leftSidebarState.toolbarPressedButton === ELeftToolbarPressedButton.tags">
        <a (click)="openTagsManagementModal()"
           class="sd-link">{{'info.tags.tagsManagement' | translate}}</a>
      </ng-container>
    </div>
    <div (click)="closeLeftSidebar()"
         class="toolbar-controls-close">
      <img src="assets/img/nav/arrow-back.svg" alt="">
    </div>
  </div>
  <div *ngIf="isLoad">
    <mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
  </div>
  <div class="left-sidebar-fillers filler-padding"
       [class.content-hide]="leftSidebarState.toolbarPressedButton !== ELeftToolbarPressedButton.documents">
    <div class="ls-element ls-element-folder"
         (click)="deselectActiveStruct()">
      <div class="ls-element-item"
           [class.active]="!activeStruct"
           style="padding: 0 0 2px 7px;">
        <fa name="folder-open"
            class="ls-element-item-icon ls-element-item-icon-start"
            style="margin-top: 3px;"></fa>
        <input value="{{ 'user.leftToolbar.documents' | translate }}"
               (contextmenu)="onRightClickInput($event)"
               readOnly
               class="ls-element-item-text item-input-text item-input-text-bold">
      </div>
    </div>
    <app-structure-info-box [structureInfo]="GlobalsService.structsInfoNotRemoved(structureInfo)"
                            [activeStruct]="activeStruct"></app-structure-info-box>
  </div>
  <div class="left-sidebar-fillers"
       *ngIf="leftSidebarState.toolbarPressedButton === ELeftToolbarPressedButton.tags">
    <app-tags [activeStruct]="activeStruct"></app-tags>
  </div>
  <div
    class="resize-handle-right"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
</div>
