@import "../../../../variables/colors";

.top-tabs {
  display: flex;
  height: 26px;
  background: $color-bg;
  border-bottom: 4px solid $color-bg;
  .one-tab {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    max-width: 300px;
    height: 100%;
    padding: 0 5px;
    background: $color-base-light;
    border-right: 1px solid $color-bg-dark;
    border-bottom: 1px solid $color-bg-dark;
    &.active {
      background: #fff;
      //border-bottom: 1px solid $color-bg;
      .one-tab-name {
        color: $color-font-base;
      }
    }
    &-name {
      font-size: 14px;
      margin-right: 20px;
      margin-bottom: 2px;
      color: $color-font-not-active;
    }
    .close-tab {
      width: 14px;
      &:hover {
        color: #000 !important;
      }
    }
    &:hover {
      cursor: default;
    }
    &:not(.active):hover {
      cursor: default;
      background: $color-base-light-hover;
    }
  }
}
