<div class="top-tabs">
  <div *ngFor="let _tab of tabs"
       (click)="clickTab(_tab)"
       (contextmenu)="onRightClick($event, _tab)"
       class="one-tab" [class.active]="isActive(_tab)">
<!--    <span (selectstart)="disableSelect()"-->
<!--          (mousedown)="disableSelect()"-->
<!--          class="one-tab-name">{{ getStructureInfoNameById(_tab.docId) }}</span>-->
    <span class="one-tab-name no-wrap-text">{{ _tab.struct ? _tab.struct.title : '' }}</span>
    <div (click)="closeTab(_tab)" class="close">
<!--      <img src="assets/img/common/btn-close.svg" style="width: 16px;height: 16px;" alt="" />-->
    </div>
  </div>
</div>
