@import "../../../../variables/colors";
@import "../../../../variables/mixins/common";

.modal-right-click {
  .element {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    .create-modal {
      top: -5px;
      left: 155px;
      width: 100px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0s linear 0.3s;
    }
    &:hover {
      background: $color-base-light-hover;
      cursor: default;
      .create-modal {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }
    }
    &.active {
      background: $color-base;
      .text {
        color: #ffffff;
      }
    }
    .text {
      color: $color-font-base;
      font-size: 14px;
    }
    .arrow-right {
      width: 20px;
    }
  }
}
.base-modal-common {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border: 1px solid $color-bg-dark;
  background: #ffffff;
  width: 160px;
  z-index: 110;
}
