<div *ngIf="modal.state"
     class="modal-right-click base-modal-common"
     [style.top]="modal.coordinates.top + 'px'"
     [style.left]="modal.coordinates.left + 'px'">
  <div class="element">
    <span class="text">{{ 'modalRightClick.element.create' | translate }}</span>
    <img class="arrow-right" src="assets/img/nav/arrow-right-color-font-base.svg" />
    <div class="create-modal base-modal-common">
      <div class="element" (click)="create(StructType.file)">
        <span class="text">{{ 'user.leftToolbar.document' | translate }}</span>
      </div>
      <div class="element" (click)="create(StructType.folder)">
        <span class="text">{{ 'modalRightClick.actionCreate.folder' | translate }}</span>
      </div>
    </div>
  </div>
  <div class="element" (click)="rename()">
    <span class="text">{{ 'modalRightClick.element.rename' | translate }}</span>
  </div>
  <div class="element">
    <span class="text">{{ 'modalRightClick.element.move' | translate }}</span>
  </div>
<!--  <div class="element">-->
<!--    <span class="text">{{ 'modalRightClick.element.copy' | translate }}</span>-->
<!--  </div>-->
  <div class="element" (click)="removeElement()">
    <span class="text">{{ 'modalRightClick.element.remove' | translate }}</span>
  </div>
</div>
