@import "../../../variables/colors";
@import "../../../variables/displays";

.spinner-center-main {
  z-index: 105;
  position: absolute;
  margin-top: 200px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  @media (max-height: $heightMobileMax) {
    margin-top: 150px;
  }
  @media (max-height: $heightMobile) {
    margin-top: 80px;
  }
  width: 50px;
  height: 50px;
  &-logo {
    color: $color-base;
    padding-bottom: 20px;
    &-text {
      margin-left: -85px;
      font-size: 40px;
      animation: logoPadding 7s linear infinite;
    }
    &-loading {
      font-size: 17px;
      margin-left: -7px;
    }
  }
}

.spinner-center-main:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid $color-base;
  border-color: $color-base transparent $color-base transparent;
  animation: spinnerTop .7s linear infinite;
}
@keyframes spinnerTop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes logoPadding {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

.mat-progress-bar-container {
  position: absolute;
  width: 100%;
}
