<div *ngIf="spinner">
  <div class="spinner-center-main">
    <!-- TODO Здесь будет логотип -->
    <div class="spinner-center-main-logo">
      <div class="spinner-center-main-logo-text">ScreenDocs</div>
      <div class="spinner-center-main-logo-loading">{{ 'common.loading' | translate }}...</div>
    </div>
  </div>
  <div class="modal-background modal-background-light"
       style="opacity: 1;"></div>
</div>
