<div class="user-main-container">
  <app-left-toolbar></app-left-toolbar>
  <app-left-sidebar></app-left-sidebar>
  <div class="user-work-content" [style.width]="editingAreaWidth">
    <app-tabs></app-tabs>
    <app-docs-toolbar></app-docs-toolbar>
    <app-editing-area></app-editing-area>
    <app-section-info></app-section-info>
  </div>
</div>
