<div [ngClass]="{'mobile-left-sidenav': true, 'sidenav-is-closed': !mobileIsOpen, 'sidenav-is-open': mobileIsOpen}">
  <div class="mobile-left-sidenav-top">
    <a (click)="onPageRoute(EPages.work)">{{'page.work' | translate}}</a>
    <img src="assets/img/nav/arrow-full-left.svg"
         (click)="controlMobileMenu(false)"
         alt="">
  </div>
  <div class="mobile-left-sidenav-list"
       *ngFor="let _list of mobileLeftSidenavList">
    <div *ngIf="navService.checkListType(_list.type, listType.arrow)">
      <div class="mobile-left-sidenav-list-item"
           [class.mobile-left-sidenav-list-item-arrow-open]="arrowOpen[_list.active]"
           (click)="openArrowNavItem(_list.click)">
        <p>{{ _list.name | translate }}</p>
        <img src="assets/img/nav/arrow-left-color-base.svg"
             alt="">
      </div>
      <div class="mobile-left-sidenav-list"
           [class.arrow-is-open]="arrowOpen[_list.active]"
           [class.arrow-is-closed]="!arrowOpen[_list.active]">
        <div *ngFor="let _child of _list.children"
             class="mobile-left-sidenav-list-item mobile-left-sidenav-list-item-arrow-hide"
             [class.open-active]="isChildActive(_child.click)"
             (click)="onPageRoute(_child.click)">
          <p>{{ _child.name | translate }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="navService.checkListType(_list.type, listType.link)"
         class="mobile-left-sidenav-list-item"
         [class.active]="isPageActive(_list.active)"
         (click)="onPageRoute(_list.click)">
      <p>{{ _list.name | translate }}</p>
    </div>
    <div *ngIf="navService.checkListType(_list.type, listType.function)"
         class="mobile-left-sidenav-list-item"
         (click)="_list.action()">
      <p>{{ _list.name | translate }}</p>
    </div>
    <hr *ngIf="navService.checkListType(_list.type, listType.line)"
        class="hr-transparent">
  </div>
</div>
<div *ngIf="mobileIsOpen"
     class="modal-background"
     (click)="controlMobileMenu(false)">
</div>
