<div class="editing-area">
  <ng-container *ngIf="structureInfoElem &&
  GlobalsService.isNotEmptyArray(structureInfoElem)">
    <div *ngFor="let _struct of structureInfoElem"
         class="ea-folder-type-item"
         (click)="clickStruct(_struct)"
         (contextmenu)="onRightClick($event, _struct)"
         [@fadeIn]>
        <img *ngIf="_struct.type === Type.folder"
             class="ea-item-icon"
             src="assets/img/user/editing-area/folder.svg"
             alt="">
        <img *ngIf="_struct.type === Type.file"
             class="ea-item-icon"
             src="assets/img/user/editing-area/document.svg"
             alt="">
      <textarea [(ngModel)]="_struct.title"
                [attr.data-id]="_struct.id"
                class="ea-item-text item-textarea-text"
                [class.ls-element-item-text-file]="_struct.type === Type.file"
                [readOnly]="_struct.readonly"
                [class.editable]="!_struct.readonly"
                rows="3"
      >
      </textarea>
    </div>
  </ng-container>
  <ng-container *ngIf="activeStruct && activeStruct.type === Type.file" [@fadeIn]>
    <div class="ea-file-type">
      <div class="ea-file-type-header">
        <p class="ea-file-type-header-title no-wrap-text">{{activeStruct.title}}</p>
        <img (click)="changeFavouritesState()"
             [src]="isFavourites()"
             [matTooltip]="favouritesText() | translate"
             [matTooltipShowDelay]="GlobalsService.matTooltipShowDelay"
             alt="" style="margin-top: -4px;">
        <div class="ea-tag-icon-container">
          <img class="ea-tag-icon"
               [src]="isTags()"
               [matTooltip]="'tooltip.editingArea.tags' | translate"
               [matTooltipShowDelay]="GlobalsService.matTooltipShowDelay"
               alt="" style="margin-top: 3px;">
          <div class="modal-right-click base-modal-common ea-tags-modal">
            <div class="ea-tags-modal-list">
              <ng-container *ngFor="let _fTag of tagsByFileType">
                <div class="element">
                  <span class="text no-wrap-text">{{ _fTag.name }}</span>
                  <img src="assets/img/user/toolbar/basket.svg"
                       (click)="removeTagFromFile(_fTag)"
                       [matTooltip]="'tooltip.editingArea.deleteFileTag' | translate"
                       [matTooltipShowDelay]="GlobalsService.matTooltipShowDelay" />
                </div>
              </ng-container>
            </div>
            <div (click)="addTag()" class="element ea-element-add">
              <img class="ea-plus-icon"
                   src="assets/img/user/section-info/plus.svg" />
              <span class="text">{{ 'hover.editingAreaAddTag' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </ng-container>
</div>
