@import "../../../../variables/colors";
@import "../../../../variables/mixins/common";

.editing-area {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  flex-wrap: wrap;
  overflow: auto;
  @include scrollbarForTextarea();
  height: calc(100vh - 172px);/* 134 = 40 + 26 + 6 + 35 + 30 + 35 */
  .ea-folder-type-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    height: 90px;
    padding: 5px;
    margin: 5px 10px 0 0;
    &:hover {
      background: $color-base-light;
      cursor: default;
    }
    &.active {
      background: $color-base;
      .ls-element-item-icon, .ls-element-item-text {
        color: #fff;
      }
    }
    .ea-item-icon {
      width: 40px;
    }
    .ea-item-text {
      resize: none;
      @include scrollbarForTextarea();
      text-align: center;
    }
  }
  .ea-file-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    &-header {
      display: flex;
      justify-content: flex-start;
      &-title {
        font-size: 20px;
        max-width: 50%;
      }
      img {
        margin-left: 10px;
        width: 24px;
        &:hover {
          cursor: pointer;
        }
        &.ea-tag-icon {
          width: 22px;
        }
      }
      .ea-tag-icon-container {
        position: relative;
        &:hover {
          .ea-tags-modal {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .ea-tags-modal {
        width: 200px;
        left: 10px;
        visibility: hidden;
        opacity: 0;
        padding-bottom: 0;
        .element {
          img {
            width: 20px;
          }
        }
        &-list {
          @include modalMaxHeightWithScroll();
        }
        .ea-element-add {
          justify-content: flex-start;
          cursor: pointer;
          .ea-plus-icon {
            width: 22px;
            margin-left: 0;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
