@import "../../../../variables/colors";
@import "../../../../variables/common";
@import "../../../../variables/mixins/common";
@import "../../../../variables/displays";

.modal-basic-center {
  position: absolute;
  z-index: 105;
  margin-top: 100px;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: $color-bg;
  padding: 5px 20px 10px;

  @media (max-height: $heightMobileMax) {
    margin-top: 10px;
  }
}
.modal-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  &-title {
    @include font-bold();
    font-size: 20px;
  }
  &-message {
    margin-top: 10px;
    @include font-base();
    font-size: 15px;
    &-struct-name {
      @include font-bold();
      color: $color-success-base;
    }
  }
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  .sd-button {
    width: 40%;
    &-action {
      width: 50%;
    }
  }
}
.sd-form-group {
  padding: 20px 0 0 0 !important;
}
.form-field {
  margin-bottom: 0 !important;
}
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $color-base !important;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $color-base !important;;
}

.sd-button-success {
  &.confirm-input-not-active {
    &:hover {
      background: rgba(223, 234, 238, 1);
      color: rgba(0,0,0,.26);
      cursor: not-allowed;
    }
  }
}
