<div *ngIf="alert.state" (window:keyup.escape)="closeModal()">
  <div class="form-300 modal-basic-center"
       [style.top]="scrollTop">
    <ng-container *ngIf="alert.type === Type.confirmInput">
      <div class="modal-header">
        <p class="modal-header-title">{{alert.title | translate}}.</p>
        <p class="modal-header-message">{{alert.message | translate}}.</p>
      </div>
      <form [formGroup]="basicCenterForm"
            class="sd-form-group">
        <mat-form-field class="form-field">
          <mat-label>{{ alert.inputLabel | translate }}</mat-label>
          <input type="text"
                 matInput
                 formControlName="confirmInput"
                 #confirmInput
                 (keyup.enter)="action()">
          <mat-error>{{ alert.confirmInputCheckErrorTextTranslate | translate }}</mat-error>
        </mat-form-field>
      </form>
      <div class="modal-buttons">
        <button mat-stroked-button
                (click)="action()"
                class="sd-button sd-button-success sd-button-action"
                [disabled]="!isConfirmInputSubmit()"
                [class.confirm-input-not-active]="!isConfirmInputSubmit()"
        >{{ alert.buttonActionName | translate }}</button>
        <button mat-stroked-button
                (click)="closeModal()"
                class="sd-button sd-button-default">{{ 'common.cancel' | translate }}</button>
      </div>
    </ng-container>
    <ng-container *ngIf="alert.type === Type.confirmInputWithSelect">
      <div class="modal-header">
        <p class="modal-header-title">{{alert.title | translate}}.</p>
        <p class="modal-header-message">{{alert.message | translate}}.</p>
      </div>
      <form [formGroup]="basicCenterForm"
            class="sd-form-group">
        <mat-form-field class="form-field">
          <mat-label>{{ alert.inputLabel | translate }}</mat-label>
          <input type="text"
                 matInput
                 formControlName="confirmInput"
                 #confirmInput
                 (keyup.enter)="action()">
          <mat-error>{{ alert.confirmInputCheckErrorTextTranslate | translate }}</mat-error>
        </mat-form-field>
      </form>
      <div class="sd-form-group" *ngIf="GlobalsService.isNotEmptyArray(alert.selectArray)">
        <div class="custom-form-field">
          <p class="custom-form-field-label">{{alert.selectLabel | translate}}</p>
          <app-custom-mat-select [selectedItem]="selectValue"
                                 [selectedObjectsArray]="alert.selectArray"
                                 [selectedObjectName]="alert.selectBindLabel ? alert.selectBindLabel : 'title'"
                                 [bindValue]="alert.selectBindLabel ? alert.selectBindLabel : 'name'"
                                 [bindLabel]="alert.selectBindLabel ? alert.selectBindLabel : 'title'"
                                 (selectedItemChange)="chooseSelect($event)"
          ></app-custom-mat-select>
        </div>
      </div>
      <div class="modal-buttons">
        <button mat-stroked-button
                (click)="action()"
                class="sd-button sd-button-success sd-button-action"
                [disabled]="!isConfirmInputSubmit()"
                [class.confirm-input-not-active]="!isConfirmInputSubmit()"
        >{{ alert.buttonActionName | translate }}</button>
        <button mat-stroked-button
                (click)="closeModal()"
                class="sd-button sd-button-default">{{ 'common.cancel' | translate }}</button>
      </div>
    </ng-container>
    <ng-container *ngIf="alert.type === Type.deleteStruct">
      <div class="modal-header">
        <div>
          <p class="modal-header-title">{{alert.title | translate}}</p>
          <p class="modal-header-title modal-header-message-struct-name no-wrap-text">{{alert.elementName}}</p>
        </div>
        <p class="modal-header-message">{{alert.message | translate}}</p>
      </div>
      <div class="modal-buttons">
        <button mat-stroked-button
                (click)="action()"
                class="sd-button sd-button-error"
        >{{ alert.buttonActionName | translate }}</button>
        <button mat-stroked-button
                (click)="closeModal()"
                class="sd-button sd-button-default">{{ 'common.cancel' | translate }}</button>
      </div>
    </ng-container>
  </div>
  <div class="modal-background"
       (click)="closeModal()"></div>
</div>
