<router-outlet></router-outlet>
<app-spinner-top></app-spinner-top>
<app-spinner-center></app-spinner-center>
<app-central-modal-alert></app-central-modal-alert>
<app-modal-basic-center></app-modal-basic-center>
<app-modal-info-bottom-right></app-modal-info-bottom-right>
<app-modal-right-click></app-modal-right-click>
<app-modal-management></app-modal-management>
