$color-white: #ffffff;
$color-bg: #edf4f7;
$color-bg-dark: #c1d1d7;
$color-button-bg: #d8e3e7;
$color-control-bg: #dde3e6;

$color-base: #18627f;
$color-base-dark: #0c3140;
$color-base-middle: #2493bf;
$color-base-light: #dfeaee;
$color-base-light-hover: #e6f1f5;

$color-font-base: #3c3d3d;
$color-font-middle: #737474;
$color-font-not-active: #606161;
$color-font-light: #acacac;

/* socials */
$timing: 265ms;
$socialBg: #bababa;

/* errors */
$field-invalid: #b91e1e;

/* success */
$color-success-base: #4caf50;

/* info */
$color-info: #2493bf;

/* common */
$favourites: #e0ac00;
