$desktops: 1281px;
$laptopsMin: 1025px;
$laptopsMax: 1281px;
$tabletMax: 768px;
$tabletAverage: 960px; // Переключение на мобайл-меню
$tabletMin: 1024px;
$mobileMin: 320px;
$mobileAverage: 380px;
$mobileMax: 480px;

$heightMobile: 400px;
$heightMobileMax: 500px;
