<div class="choose-tag-type" [@fadeIn]>
  <div class="choose-tag-type-item border-right"
       (click)="changeChosenTagTypeState(ETagType.file)"
       [class.active]="chosenTagTypeState[ETagType.file]">
    <p class="choose-tag-type-item-text"
       [matTooltip]="'tooltip.leftToolbar.tagForDocument' | translate"
       [class.active]="chosenTagTypeState[ETagType.file]"
       [matTooltipShowDelay]="GlobalsService.matTooltipShowMiddleDelay">{{'user.leftToolbar.document' | translate}}</p>
  </div>
  <div class="choose-tag-type-item"
       (click)="changeChosenTagTypeState(ETagType.text)"
       [class.active]="chosenTagTypeState[ETagType.text]">
    <p class="choose-tag-type-item-text"
       [class.active]="chosenTagTypeState[ETagType.text]"
       [matTooltip]="'tooltip.leftToolbar.tagForText' | translate"
       [matTooltipShowDelay]="GlobalsService.matTooltipShowMiddleDelay">{{'common.text' | translate}}</p>
  </div>
</div>
<div class="tag-fillers" [@fadeIn]>
  <ng-container *ngIf="GlobalsService.isNotEmptyArray(filteredTags)">
    <p class="select-label">{{'placeholder.tag.select' | translate}}</p>
    <app-custom-mat-select [selectedObjectsArray]="filteredTagsPipe(filteredTags, false)"
                           [selectedObjectsArrayObservable]="filteredTagsSubject.asObservable()"
                           selectedObjectName="name"
                           bindValue="id"
                           bindLabel="name"
                           [isResetSelection]="true"
                           (selectedItemChange)="chooseTag($event)"
    ></app-custom-mat-select>
    <div class="selected-tags">
      <div class="selected-tags-item" *ngFor="let _tag of filteredTagsPipe(filteredTags, true)">
        <p class="selected-tags-item-text no-wrap-text"
           [matTooltip]="_tag.name"
           [matTooltipShowDelay]="GlobalsService.matTooltipShowMiddleDelay">{{_tag.name}}</p>
        <img (click)="removeTagFromSelectedById(_tag.id)"
             class="selected-tags-item-img"
             src="assets/img/common/basketForTags.svg"
             alt="">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!GlobalsService.isNotEmptyArray(filteredTags)">
    <p class="tag-not-created">
      <span>{{'info.tags.notCreate.tagsFor' | translate}}</span>
      <span>{{'info.tags.notCreate.' + chosenTagType | translate}}</span>
      <span>{{'info.tags.notCreate.notCreated' | translate}}</span>
      <a class="sd-link tag-not-created-link">{{'common.here' | translate}}.</a>
    </p>
  </ng-container>
  <ng-container *ngIf="GlobalsService.isNotEmptyArray(filteredTags) &&
  !GlobalsService.isNotEmptyArray(structureInfoByTags)">
    <p class="tag-not-created">
      <span>{{'info.tags.docsDisplayedHere' | translate}}</span>
    </p>
  </ng-container>
</div>
<app-structure-info-box [structureInfo]="GlobalsService.structsInfoNotRemoved(structureInfoByTags)"
                        [activeStruct]="activeStruct"></app-structure-info-box>
