@import "../../../../variables/colors";
@import "../../../../variables/mixins/common";

.choose-tag-type {
  display: flex;
  border-bottom: 1px solid $color-bg-dark;
  &-item {
    width: 50%;
    padding: 3px 0;
    &.border-right {
      border-right: 1px solid $color-bg-dark;
    }
    &-text {
      @include font-bold();
      text-align: center;
      font-size: 14px;
      color: $color-font-not-active;
      &.active {
        color: $color-font-base;
      }
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      background: $color-white;
    }
  }
}
.tag-fillers {
  padding: 7px;
  .select-label {
    font-size: 14px;
    @include font-bold;
  }
  .selected-tags {
    display: flex;
    flex-wrap: wrap;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $color-base;
      padding: 5px;
      margin: 0 7px 7px 0;
      min-width: 50px;
      max-width: 150px;
      &-text {
        font-size: 13px;
        padding-right: 3px;
        color: #fff;
      }
      &-img {
        width: 16px;
        opacity: .9;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
  .tag-not-created {
    color: $color-font-middle;
    &-link {
      @include font-bold;
    }
  }
}
.mat-progress-bar {
  position: relative !important;
}
.mat-select-search-inner {
  width: 200px !important;
}
.mat-select-panel, .mat-select-search-inner {
  max-width: 200px !important;
}
