<!-- TAGS -->
<div *ngIf="tagsManagementModal.isOpenState">
  <div class="form-300 modal-basic-center modal-management"
       [style.top]="scrollTop">
    <div class="modal-header" *ngIf="!isShowRemoveTagModal">
      <p class="modal-header-title">{{'info.tags.tagsManagement' | translate}}</p>
      <div class="sd-form-group">
        <div class="tag-item tag-item-head">
          <input class="tag-item-text tag-item-text-filter item-input-text"
                 [(ngModel)]="filterTagName"
                 (ngModelChange)="changeFilterTagName()"
                 [placeholder]="'common.searchByName' | translate"
          >
          <div (click)="resetFilterTagName()" class="close close-custom"></div>
        </div>
        <div class="mm-form-group-scroll">
          <div class="tag-item" *ngFor="let _tag of filteredTags">
            <input class="tag-item-text item-input-text no-wrap-text"
                   [(ngModel)]="_tag.name"
                   [class.input-editable]="!_tag.readonly"
                   [readOnly]="_tag.readonly"
                   (focusout)="saveTagName(_tag)"
                   (keyup.enter)="saveTagName(_tag)"
                   #tag
                   [attr.data-id]="_tag.id"
            >
            <div class="tag-item-buttons">
              <img src="assets/img/common/edit.svg"
                   alt=""
                   (click)="setTagEditable(_tag)"
                   [matTooltip]="'tooltip.leftToolbar.changeTagName' | translate"
                   [matTooltipShowDelay]="GlobalsService.matTooltipShowMiddleDelay">
              <img src="assets/img/user/toolbar/basketRed.svg"
                   alt=""
                   (click)="showHideRemoveTagModal(true, _tag)"
                   [matTooltip]="'tooltip.leftToolbar.removeTag' | translate"
                   [matTooltipShowDelay]="GlobalsService.matTooltipShowMiddleDelay">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-management-remove"
         *ngIf="isShowRemoveTagModal">
      <div class="modal-header">
        <div class="modal-header-title">
          {{'modalBasicCenter.removeTagFromAll.title' | translate}}
          <p class="modal-header-message-struct-name no-wrap-text">
            {{currentTag ? currentTag.name : ''}}</p>
        </div>
        <p class="modal-header-message">{{'modalBasicCenter.removeTagFromAll.message' | translate}}.</p>
      </div>
      <div class="modal-buttons">
        <button mat-stroked-button
                (click)="removeTag()"
                class="sd-button sd-button-error"
        >{{ 'modalBasicCenter.removeTagFromAll.buttonActiveName' | translate }}</button>
        <button mat-stroked-button
                (click)="showHideRemoveTagModal(false)"
                class="sd-button sd-button-default">{{ 'common.cancel' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="modal-background"
       (click)="modalTagsManagementOpenClose(false)"></div>
</div>

<!-- ??? -->
