@import "../../../../variables/colors";
@import "../../../../variables/mixins/common";

.modal-management {
  position: relative;
  .sd-form-group {
    .mm-form-group-scroll {
      max-height: 250px !important;
      overflow-y: auto;
      @include scrollbarBaseWithColorBase();
    }
    .tag-item {
      display: flex;
      justify-content: space-between;
      padding: 5px 5px 5px 0;
      &-text {
        font-size: 18px;
        padding: 5px 0 0;
        margin-left: 4px;
        color: $color-font-base;
        &-filter {
          width: 90%;
        }
      }
      &-buttons {
        display: flex;
        img:first-child {
          margin-right: 5px;
        }
        img {
          opacity: 0.8;
          width: 24px;
          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
      &:hover {
        cursor: default;
        background: $color-button-bg;
      }
      &-head {
        position: relative;
        border-bottom: 1px solid $color-font-base;
        padding: 0;
        margin-bottom: 1px;
        &:hover {
          background: $color-bg;
        }
      }
    }
  }
  &-remove {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 130px;
    background: $color-bg;
    padding: 10px 10px 20px;
    .modal-header-message-struct-name {
      width: 100%;
    }
  }
}
.close-custom {
  width: 20px;
  height: 20px;
  top: 4px;
  right: 0;
  &:before, &:after {
    left: 9px;
    height: 14px;
  }
}
