@import "../../../variables/colors";
@import "../../../variables/displays";

.spinner-center-main {
  z-index: 105;
  position: absolute;
  top: 60px;
  left: 0;
  @media (max-width: $tabletAverage) {
    top: 40px;
  }
  width: 25px;
  height: 25px;
}
.spinner-center-main:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid $color-base;
  border-color: $color-base transparent $color-base transparent;
  animation: spinnerTop .7s linear infinite;
}
@keyframes spinnerTop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mat-progress-bar-container {
  position: absolute;
  width: 100%;
}
