<div *ngIf="spinner">
  <div class="mat-progress-bar-container" [style.top]="scrollTopProgressBar">
    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
  </div>
  <div class="spinner-center-main"
       [style.top]="scrollTop">
  </div>
  <div class="modal-background modal-background-light"
       style="opacity: 0.2;"></div>
</div>
