<div>
  <div class="form-300">
    <div class="sd-form-header">
      <h4 class="h4-center">{{ 'page.registration' | translate }}</h4>
      <p class="p-center">{{ 'auth.createNewAccount' | translate }}</p>
    </div>
    <form [formGroup]="registrationForm"
          (ngSubmit)="registrationSubmit()"
          class="sd-form-group">
      <mat-form-field class="form-field">
        <mat-label>{{ 'field.email' | translate }}</mat-label>
        <input type="text"
               formControlName="email"
               matInput
               value="">
        <mat-error>{{ globals.getFormControlErrorMessage(registrationForm, 'email') | translate }}</mat-error>
      </mat-form-field>
      <div class="form-field form-field-checkbox">
        <mat-checkbox (click)="clickAgree()"
                      formControlName="agree"
        >{{ 'auth.agreeText.iAgree' | translate }}&nbsp;
          <a class="sd-link" target="_blank" href="">{{ 'auth.agreeText.terms' | translate }}</a>&nbsp;
          {{ 'auth.agreeText.personal' | translate }}&nbsp;
          <a class="sd-link" target="_blank" href="">{{ 'auth.agreeText.policy' | translate }}</a>
        </mat-checkbox>
        <mat-error *ngIf="checkAgree()"
                   class="mat-error-absolute">{{ 'errors.agreeInvalid' | translate }}</mat-error>
      </div>
      <div class="form-field form-field-button">
        <button mat-stroked-button
                class="sd-button sd-button-submit">{{ 'auth.button.registration' | translate }}</button>
      </div>
    </form>
    <div class="sd-form-group sd-form-after">
      <span>{{ 'auth.haveAccount' | translate }}</span>
      <a class="sd-link"
         (click)="navService.onPageRoute(pages.login)">{{ 'auth.login' | translate }}</a>
    </div>
  </div>
</div>
