@import "../../../../variables/colors";
@import "../../../../variables/mixins/common";

.ls-element {
  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    &:hover {
      background: $color-bg;
      cursor: default;
    }
    &-icon {
      color: $color-font-middle;
      &:hover {
        //color: $color-font-base;
      }
      &-start {
        color: $color-font-base;
      }
    }
    &-text {
      font-size: 15px;
      white-space: nowrap;
      //text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      padding: 0 2px 0 0;
      margin-left: 2px;
      &-file {
        padding: 0 2px 0 0;
        margin-left: 3px;
      }
    }
    &.active {
      background: $color-base;
      .ls-element-item-icon, .ls-element-item-text {
        color: #fff;
      }
    }
  }
  &-folder {
    .ls-element-item {
      padding: 0 0 0 16px;
      &:hover {
        cursor: default;
      }
      &-icon {
        font-size: 14px;
      }
    }
  }
  &-file {
    .ls-element-item {
      padding: 1px 0 2px 16px;
      &-icon {
        font-size: 12px;
      }
    }
  }
  &-children {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 11px;
    &.hide {
      display: none;
    }
  }
}
