<div class="ls-element" [ngClass]="'ls-element-' + struct.type"
     [@fadeIn]>
  <div class="ls-element-item"
       (contextmenu)="onRightClick($event, struct)"
       [class.ls-element-file]="struct.type === Type.file && isActive(struct)"
       [class.active]="isActive(struct)">
    <div *ngIf="struct.type === Type.folder"
         (click)="openFolder(struct)"
         class="ls-triangle"
         [class.ls-triangle-open]="struct.isOpen"
         [class.active]="isActive(struct)"
    ></div>
    <fa *ngIf="struct.type === Type.folder"
        (click)="openFolder(struct)"
        class="ls-element-item-icon"
        [name]="struct.type + (struct.isOpen ? '-open' : '')"></fa>
    <fa *ngIf="struct.type === Type.file"
        (click)="clickStruct(struct)"
        class="ls-element-item-icon"
        [name]="struct.type"></fa>
    <input (click)="clickStruct(struct)"
           [(ngModel)]="struct.title"
           [readOnly]="struct.readonly"
           (focusout)="saveTitle(struct)"
           (keyup.enter)="saveTitle(struct)"
           (keyup.delete)="removeElement(struct)"
           #structRef
           [attr.data-id]="struct.id"
           class="ls-element-item-text item-input-text"
           [class.ls-element-item-text-file]="struct.type === Type.file"
           [class.input-editable]="!struct.readonly"
    >
<!--    (keyup.arrowup)="arrowMove(struct, DirectionType.up)"-->
<!--    (keyup.arrowdown)="arrowMove(struct, DirectionType.down)"-->
<!--    (keyup.arrowleft)="arrowMove(struct,DirectionType.left)"-->
<!--    (keyup.arrowright)="arrowMove(struct, DirectionType.right)"-->
<!--    (selectstart)="disableSelect(struct)"-->
<!--    (mousedown)="disableSelect(struct)"-->
  </div>
</div>
