<div *ngIf="alert.state">
  <div class="form-300 center-modal-alert"
       [style.top]="scrollTop">
    <div class="center-modal-alert-header"
         [ngClass]="'bg-color-' + alert.type">
      <img [src]="'assets/img/center-modal-alert/' + alert.type + '.svg'"
           alt="">
    </div>
    <div class="center-modal-alert-body">
      <div class="center-modal-alert-body-message">
        <h4>{{ alert.title | translate }}</h4>
        <p>{{ alert.message | translate }}</p>
      </div>
      <div>
        <button mat-stroked-button
                class="sd-button"
                [ngClass]="'sd-button-' + alert.type"
                (click)="click(true)"
        >{{ alert.button | translate }}</button>
      </div>
    </div>
  </div>
  <div class="modal-background"
       (click)="click(false)"></div>
</div>
