@import "../../../../variables/colors";
@import "../../../../variables/common";
@import "../../../../variables/displays";

.center-modal-alert {
  position: absolute;
  z-index: 105;
  margin-top: 100px;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: $color-bg;
  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    img {
      width: 60px;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 25px;
    &-message {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h4 {
        font-size: 28px;
        text-align: center;
        @media (max-width: $mobileMax) {
          font-size: 24px;
        }
      }
      p {
        text-align: center;
      }
    }
  }
  @media (max-height: $heightMobileMax) {
    margin-top: 10px;
  }
}
