@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import "app/variables/mixins/common";
@import "app/variables/colors";
@import "app/variables/common";
@import "./app/variables/displays";
@include mat-core();

// Define the theme.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the theme styles for only specified components.
@include mat-core-theme($candy-app-theme);

@font-face {
  font-family: 'Open-Sans';
  src: url('./assets/fonts/opensans.woff2') format('woff2'), url('./assets/fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('./assets/fonts/opensanssemibold.woff2') format('woff2'), url('./assets/fonts/opensanssemibold.woff') format('woff');
}
@font-face {
  font-family: 'Open-Sans-Italic';
  src: url('./assets/fonts/opensansitalic.woff2') format('woff2'), url('./assets/fonts/opensansitalic.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  @include font-base();
  color: $color-font-base;
  background: $color-bg;
  letter-spacing: 0.2px;
  height: 100%;
}
.scroll-hide {
  overflow: hidden;
}
.root {
  position: relative;
  min-height: 100%;
  &.root-content {
    overflow-x: hidden;
  }
  .root-content-main {
    height: 100%;
    //padding-bottom: 200px;
  }
}
.container {
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $desktops) {
    padding-right: 50px;
    padding-left: 50px;
  }
  @media (max-width: $mobileMax) {
    padding-right: 5px;
    padding-left: 5px;
  }
}
a {
  text-decoration: none;
  outline: none;
}
h4, p {
  margin: 0;
  padding: 0;
}
p {
  font-size: 14px;
}
.h4-center {
  text-align: center;
  font-size: 23px;
  color: $color-base;
  @media (max-width: $mobileAverage) {
    font-size: 20px;
  }
}
.p-center {
  text-align: center;
}
.small-description {
  font-size: 13px;
}
.hr-transparent {
  height: 1px;
  border: none;
  color: transparent;
  background-color: transparent;
  width:100%;
  margin-top: 1px !important;
  margin-bottom: 0 !important;
}
.hr-light {
  height: 1px;
  border: none;
  color: $color-font-light;
  background-color: $color-font-light;
  width:100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* Close button */
.close {
  position: absolute;
  right: 4px;
  width: 16px;
  height: 16px;
  opacity: 1;
  &:before, &:after {
    position: absolute;
    left: 7.2px;
    top: 3px;
    content: '';
    height: 10px;
    width: 1px;
    background-color: $color-font-base;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover {
    opacity: 1;
    background: $color-bg-dark;
    border-radius: 50%;
    &:before, &:after {
      background-color: #fff;
    }
  }
}
.content-hide {
  display: none;
}
/* Треугольник */
.ls-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent $color-font-middle;
  margin-right: 4px;
  margin-top: 1px;
  &:hover {
    border-color: transparent transparent transparent $color-font-base;
  }
  &.active {
    border-color: transparent transparent transparent #fff;
  }
}
.ls-triangle-open {
  transform: rotate(90deg);
  margin-right: 5px;
}
/* */
.modal-background {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
  z-index: 99;
}
.modal-background-light {
  background: #fff;
}
.bg-color-base {
  background: $color-bg;
}
.bg-color-success {
  background: $color-success-base;
}
.bg-color-info {
  background: $color-base-middle;
}
.bg-color-error {
  background: $field-invalid;
}
.mobile-menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
  @media (max-width: $mobileMax) {
    margin-left: 5px;
  }
  &:hover {
    cursor: pointer;
  }
  &-item {
    width: 18px;
    height: 2px;
    background: #fff;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}
.close-list {
  visibility: hidden !important;
  opacity: 0 !important;
  display: none !important;
}
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Form */
.sd-form-group {
  padding: 20px;
  @media (max-width: $mobileAverage) {
    padding: 15px;
  }
}
.sd-form-header {
  padding: 10px 0;
  border-bottom: 1px solid $color-font-light;
  @media (max-width: $mobileAverage) {
    padding: 5px 0;
  }
}
.sd-form-after {
  text-align: center;
  padding-top: 0 !important;
  span, a {
    font-size: 14px !important;
  }
  span {
    margin-right: 10px;
  }
}
.form-300 {
  margin: 100px auto;
  width: 300px;
  border: 1px solid transparent;
  border-radius: $radius;
  @include modal-shadow();
  @media (max-width: $mobileMax) {
    margin: 50px auto;
  }
  @media (max-width: $mobileAverage) {
    width: 290px;
  }
}
.sd-link {
  color: $color-base-middle;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.custom-form-field {
  display: flex;
  flex-direction: column;
  &-label {
    font-size: 13px;
  }
}
// custom input material
.form-field {
  margin-bottom: 15px;
  &.form-field-button {
    margin-top: 5px;
  }
  &-checkbox {
    margin-bottom: 30px !important;
    &-link {
      .mat-checkbox-label, .sd-link {
        font-size: 15px !important;
      }
    }
  }
}
.mat-form-field {
  width: 100%;
}
//::ng-deep .mat-focused .mat-form-field-label {
//  /*change color of label*/
//  color: $color-base !important;
//}
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $color-base !important;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $color-base !important;;
}
.mat-input-element, .mat-form-field .mat-form-field-label, .mat-error, .mat-checkbox {
  font-family: Open-Sans, Arial, Helvetica, sans-serif !important;
}
.mat-form-field .mat-form-field-label {
  color: $color-font-base !important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $field-invalid !important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: $field-invalid !important;
}
.mat-error {
  color: $field-invalid !important;
  font-size: 13px;
  &-absolute {
    position: absolute;
  }
}
// custom checkbox material
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $color-base !important;
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: $color-base !important;
}
.mat-checkbox .mat-checkbox-ripple {
  left: calc(50% - 15px) !important;
  top: calc(50% - 15px) !important;
  height: 30px !important;
  width: 30px !important;
}
.mat-checkbox-label {
  font-size: 13px !important;
}
.mat-checkbox-layout {
  align-items: flex-start !important;
  white-space: normal !important;
  .mat-checkbox-label {
    line-height: 15px !important;
  }
}
.mat-checkbox-background, .mat-checkbox-frame {
  border-radius: 0 !important;
}
.mat-checkbox-inner-container {
  margin-top: 0 !important;
}
.checkbox-link {
  margin-top: 5px;
}
// custom mat-progress-bar
.mat-progress-bar {
  position: absolute !important;
  z-index: 105;
}
.mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: $color-base !important; // Полоска
}
.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: $color-bg-dark !important; // Фон
}
.mat-progress-bar-background {
  fill: $color-base !important; // Короткие полоски
}

/* Tooltip */
.mat-tooltip {
  @include font-base();
  font-size: 13px;
}

/* buttons */
.sd-button {
  background: $color-base-light;
  @include font-bold();
  width: 100%;
  &-default {
    background: $color-white;
    color: $color-font-base;
    &:hover {
      background: $color-bg;
    }
  }
  &-submit {
    color: $color-base;
    &:hover {
      background: $color-base;
      color: #fff;
    }
  }
  &-success {
    color: $color-success-base;
    &:hover {
      background: $color-success-base;
      color: #fff;
    }
  }
  &-info {
    color: $color-base-middle;
    &:hover {
      background: $color-base-middle;
      color: #fff;
    }
  }
  &-error {
    color: $field-invalid;
    &:hover {
      background: $field-invalid;
      color: #fff;
    }
  }
}

/*  */
.item-input-text, .item-textarea-text {
  border: none;
  background: transparent;
  outline: none;
  &:hover {
    cursor: default;
  }
  &-bold {
    @include font-bold();
  }
  &.input-editable {
    color: $color-font-base !important;
    background: #ffffff;
    padding-left: 4px !important;;
    outline: 1px solid $color-font-light;
    outline-offset: 0;
  }
}
.item-textarea-text {

}

.no-wrap-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
