<div>
  <div class="form-300">
    <div class="sd-form-header">
      <h4 class="h4-center">{{ 'page.forgotPassword' | translate }}</h4>
      <p class="p-center">{{ 'auth.forgotPasswordDescription' | translate }}</p>
    </div>
    <form [formGroup]="forgotPasswordForm"
          (ngSubmit)="submit()"
          class="sd-form-group">
      <mat-form-field class="form-field">
        <mat-label>{{ 'field.email' | translate }}</mat-label>
        <input type="text"
               formControlName="email"
               matInput
               value="">
        <mat-error>{{ globals.getFormControlErrorMessage(forgotPasswordForm, 'email') | translate }}</mat-error>
      </mat-form-field>
      <div class="form-field form-field-button">
        <button mat-stroked-button
                class="sd-button sd-button-submit">{{ 'auth.button.forgotPassword' | translate }}</button>
      </div>
    </form>
    <div class="sd-form-group sd-form-after">
      <span>{{ 'auth.haveNotAccount' | translate }}</span>
      <a class="sd-link"
         (click)="navService.onPageRoute(pages.registration)">{{ 'auth.registration' | translate }}</a>
    </div>
  </div>
</div>
